# Variáveis de ambiente do Frontend
VITE_API_URL=https://malloryapp.com.br:8000
VITE_MICROSOFT_CLIENT_ID=your-client-id
VITE_MICROSOFT_TENANT_ID=your-tenant-id
VITE_MICROSOFT_REDIRECT_URI=https://malloryapp.com.br/auth/callback
